<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оформление пропусков</title>
    <link rel="stylesheet" href="/html/page.css">
</head>
<body>
    <header class="header">
        <H1>Логотип</H1>
        <div id="user-tools">
            <h3>
                {{prof.surname}}
                {{prof.name}}
                {{prof.patronymic}}
                <button onclick="btnProfile('{{prof.surname}}', {{prof.id}})">Профиль</div>
<!--                <button onclick="btnProfile({{prof.id}}, {{prof.surname}})">Профиль</div> -->
            </h3>
        </div>
    </header>
    <main class="main">
        <div class="sidebar">
            <ul>
                <li>Заявки</li>
                    <ul>
                        <li class="side-li"><a href="#">Гостевой</a></li>
                        <li class="side-li"><a href="#">Постоянный</a></li>
                        <li class="side-li"><a href="#">Материальный</a></li>
                        <li class="side-li"><a href="#">Транспортный</a></li>
                    </ul>
            </ul>
        </div>

        <div class="mainbar">
            <table>
                <caption>
                    Заявки на оформления гостевых пропуска
                </caption>
                <thead>
                    <th>Дата заявки</th>
                    <th>Номер</th>
                    <th>Ф И О</th>
                    <th>Документ</th>
                    <th>Статус</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each passes}}
                        <tr>
                            <td>{{date}}</td>
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                            <td>{{docum}}</td>
                            <td>{{status}}</td>
                            <td>
                                <button onclick="btnChange({{id}})">
                                    <img src="/html/icon-change.svg" title="Узнать статус">
                                </button>
                            </td>
                            <td>
                                <button onclick="btnDelete({{id}})">
                                    <img src="/html/icon-delete.svg" title="Узнать статус">
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </main>
    <script src="/js/passes.js"></script>
</body>
</html>